- const URL_IMAGES = '../assets/images/'
- 
    const dataCardFb = {
        bordercolor: 'border-fb',
        icon: 'icon-facebook.svg',
        name: 'facebook',
        username: '@nathanf',
        followers: 1997,
        increment: true,
        number: 12
    } 
-
    const dataCardTw = {
        bordercolor: 'border-tw',
        icon: 'icon-twitter.svg',
        name: 'twitter',
        username: '@nathanf',
        followers: 1044,
        increment: true,
        number: 99
    }
- 
    const dataCardIg = {
        bordercolor: 'border-ig',
        icon: 'icon-instagram.svg',
        name: 'instagram',
        username: '@realnathanf',
        followers: '11k',
        increment: true,
        number: 1099
    }
- 
    const dataCardYt = {
        bordercolor: 'border-yt',
        icon: 'icon-youtube.svg',
        name: 'youtube',
        username: 'Nathan F.',
        followers: '8239',
        increment: false,
        number: 144
    }
- 
    const dataDetailsFbViews = {
        desc: 'Page views',
        icon: 'icon-facebook.svg',
        name: 'facebook logo',
        number: 87,
        increment: true,
        percent: 3
    }
- 
    const dataDetailsFbLikes = {
        desc: 'Likes',
        icon: 'icon-facebook.svg',
        name: 'facebook logo',
        number: 52,
        increment: false,
        percent: 2
    }
- 
    const dataDetailsIgViews = {
        desc: 'Profile Views',
        icon: 'icon-instagram.svg',
        name: 'instagram logo',
        number: '52K',
        increment: true,
        percent: 1375
    }
-
    const dataDetailsIgLikes = {
        desc: 'Likes',
        icon: 'icon-instagram.svg',
        name: 'instagram logo',
        number: '5462',
        increment: true,
        percent: 2357
    }
- 
    const dataDetailsTwRetweets = {
        desc: 'Retweets',
        icon: 'icon-twitter.svg',
        name: 'twitter logo',
        number: '117',
        increment: true,
        percent: 117
    }
- 
    const dataDetailsTwLikes = {
        desc: 'Likes',
        icon: 'icon-twitter.svg',
        name: 'twitter logo',
        number: '507',
        increment: true,
        percent: 554
    }
-
    const dataDetailsYtlikes = {
        desc: 'Likes',
        icon: 'icon-youtube.svg',
        name: 'youtube logo',
        number: '107',
        increment: false,
        percent: 19
    }
-
    const dataDetailsYtViews = {
        desc: 'Total views',
        icon: 'icon-youtube.svg',
        name: 'youtube logo',
        number: '1407',
        increment: true,
        percent: 17
    }