.dashboard__social-media {
  background-color: var(--LightBlueCardBG);
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-media__item,
.social-media__data {
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-media__item img {
  margin-right: 5px;
}

.social-media__data {
 flex-direction: column;
}

.social-media__user,
.social-media__today {
  align-items: center;
  display: flex;
}

.social-media__data {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.txt-follow {
  color: var(--DesaturatedBlueTxt);
  font-size: 0.8rem;
  letter-spacing: 3px;
}

/* | BORDERS */
.border-fb {
  border-top: 5px solid var(--Facebook);
}

.border-ig {
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
}

.border-yt {
  border-top: 5px solid var(--YouTube);
}

.border-tw {
  border-top: 5px solid var(--Twitter);
}
