.description__data {
  align-items: center;
  background-color: var(--LightBlueCardBG);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  padding: .625rem;
}

.data__type {
  color: var(--VeryDarkBlueTxt);
}

.data__percent {
  display: flex;
  align-items: center;
}

.data__percent,
.data__icon {
  justify-self: end;
}

.data__number {
  font-size: 1.3rem;
  font-weight: 900;
}

.mr-5 {
  margin-right: .3125rem;
}

  
@media screen  and (min-width: 480px) and ( max-width: 796px )  {
  .description__data {
    margin: .3125rem;
    gap: 0;
  }

}