:root {
  /* dark theme */
  --DarkBlueBG: hsl(230, 17%, 14%);
  --DarkBlueTopBG: hsl(232, 19%, 15%);
  --DarkBlueCardBG: hsl(228, 28%, 20%);
  --DesaturatedBlueTxt: hsl(228, 34%, 66%);
  --WhiteTxt: hsl(0, 0%, 100%);
  /* ligth  theme */
  --WhiteBG: hsl(0, 0%, 100%);
  --VeryBlueTopBG: hsl(225, 100%, 98%);
  --LightBlueCardBG: hsl(227, 47%, 96%);
  --DarkBlueTxt: hsl(228, 12%, 44%);
  --VeryDarkBlueTxt: hsl(230, 17%, 14%);
  /* colors  */
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  /* border colors of principal card*/
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --YouTube: hsl(348, 97%, 39%);
}

@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/Inter-Regular.ttf') format('ttf'),
       url('./assets/fonts/Inter-Medium.ttf') format('ttf'),
       url('./assets/fonts/Inter-Bold.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--WhiteBG);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  transition: background-color 0.2s linear;
}

.wrapper {
  margin: 20px auto;
  width: 70%;
}

.header {
  color: var(--VeryDarkBlueTxt);
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__label {
  bottom: 0;
  position: absolute;
  right: 0;
}

.header__desc,
.header__label {
  color: var(--DarkBlueTxt);
  font-size: 0.9rem;
  font-weight: bold;
}

.header__toggle {
  background-color: hsl(230, 22%, 74%);
  border-radius: 10px;
  height: 20px;
  margin-left: 5px;
  outline: none;
  position: relative;
  width: 40px;
  -webkit-appearance: none;
}

.header__toggle:checked {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

.header__toggle::before {
  background-color: white;
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 2px;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  width: 16px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.header__toggle:checked::before {
  left: 22px;
}

.header__label {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dashboard {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  margin-bottom: 40px;
  width: 100%;
}


.description__title {
  color: var(--DarkBlueTxt);
  font-size: 1.2rem;
}

.description__cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 250px;
  margin-top: 20px;
  width: 100%;
}

.icon-up,
.icon-down {
  font-size: 0.8rem;
}

.icon-up {
  color: var(--LimeGreen);
}

.icon-down {
  color: var(--BrightRed);
}

.bg-dark {
  background-color: var(--DarkBlueBG);
}

.title-dark {
  color: var(--WhiteTxt);
}

.lbl-dark {
  color: var(--DesaturatedBlueTxt);
}

.bg-card-dark {
  background-color: var(--DarkBlueCardBG);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.1);
  color: var(--WhiteTxt);
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }

  .header__desc {
    margin: 10px 0;
  }

  .header__label {
    border-top: 1px solid var(--DesaturatedBlueTxt);
    padding-top: 10px;
    position: relative;
  }

  .description__cards {
    height: 100%;
  }

  .dashboard,
  .description__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .description__content {
    grid-auto-rows: minmax(120px, auto);
    grid-template-rows: initial;
  }
}
